body {
    margin: 0;


  }

  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 20%;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;

    
  }

  li a {
    display: block;
    color: white;
    padding: 16px 16px;
    text-decoration: none;
    border: 4px solid #f1f1f1;
    background-color: rgb(30, 228, 218);
    
  }

  li a:hover{
    background-color: rgb(9, 247, 235);
    color: white;
  }

  h1{
    color: rgb(9, 247, 235);
    font-size: 40px;
    -webkit-text-stroke: 2px rgb(7, 187, 178);
  }

  button{
      color:black;
      background-color: rgb(9, 247, 235);
      height: 36px;
      width: 100px;
      border: 2px solid rgb(7, 187, 178);
      border-radius: 10px;
}

  button:hover{
    cursor: pointer;
    background-color: rgb(192, 252, 249);
  }

  input[type="text"] {
    width: 200px;
    height: 30px;
    border: 2px solid rgb(7, 187, 178);
    border-radius: 10px;
    font-size: 18px;
    color:rgb(2, 90, 87);
  }

  p {
    color: rgb(2, 90, 87);
    font-size: 20px;
  }
  #Heading{
    text-align: center;
}